link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

p #{messages}
form.form-horizontal(method='post')
  fieldset
    // Form Name
    legend Chess_JavaScript Login
    // Text input
    .form-group
      label.col-md-4.control-label(for='username1') Login
      .col-md-4
        input#username1.form-control.input-md(name='username' type='text' placeholder='')
    // Text input
    .form-group
      label.col-md-4.control-label(for='passw1') Password
      .col-md-4
        input#passw1.form-control.input-md(name='password' type='password' placeholder='')
    style.
      .center {
      text-align: left;
      margin:0 420px;
      }
    .center
      input.btn.btn-success(type='submit' value='Login')
	
    style.
      .center2 {
      text-align: center;
      margin:-32px 740px;
      }
    .center2
      a.btn.btn-info(href='/register') Register