<!DOCTYPE html>
<html>
 
<head>
    <title>Chess game</title>
</head>
 
<body>
    <h2>Dashboard</h2>
    <h5>Hurray! you are logged in.</h5>
	<p>Would you like to play...</p>
	<button onclick="window.location = '/chess.html'" type="button" class="pure-button pure-button-primary">Singleplayer</button>
	<button onclick="" type="button" class="pure-button pure-button-primary" disabled="true">Multiplayer</button>
</body>
 
</html>